<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>
    <div class="container">
        <h2 class="title">successful login</h2>
        <h1 class="title">Welcome to the Homepage!</h1>
        <a href="{{ url_for('logout') }}" class="text-white">Logout</a>
    </div>
</body>
</html>